<div id="WorkExperience">
    <mat-vertical-stepper class="page-body" fxLayout="column">
      <mat-step>
        <div>
          <div>
            <h2>Bachelor of engineering (Computer Engineering)</h2>
            <h5>2016 - 2019</h5>
          </div>
          <h4>Cummins College of Engineering for Women,Pune</h4>
          <h5>Grade: 8.34/10</h5>
        </div>
      </mat-step>
      <mat-step>
        <div>
          <div>
            <h2>Diploma (Computer Engineering)</h2>
            <h5>2013 - 2016</h5>
          </div>
          <h4>Government Polytechnic, Pune</h4>
          <h5>Grade: 85.56/100</h5>
        </div>
      </mat-step>
      <mat-step>
      </mat-step>
    </mat-vertical-stepper>
  </div>