<div id="Personal" class="page-body">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Personal Details</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row">
        <div fxFlex>
          <h2>Address</h2>
          <h4>Baramati, Pune, India</h4>
        </div>
        <div fxFlex>
          <h2>LinkedIn</h2>
          <a>https://www.linkedin.com/in/nikita-jagtap-5277b8150/</a>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hobbies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>Doodling</h2>
        <div fxLayout="row" fxLayoutGap="2rem">
          <div fxFlex>
            <img src="assets/dream.jpg" width="200" height="200" alt="Doodle1">
          </div>
          <div fxFlex>
            <img src="assets/leaf.jpg" width="200" height="200" alt="Doodle1">
          </div>
          <div fxFlex>
            <img src="assets/calm.jpg" width="200" height="200" alt="Doodle1">
          </div>
          <div fxFlex>
            <img src="assets/flowerpink.jpg" width="200" height="200" alt="Doodle1">
          </div>
        </div>
        <h2>Teaching</h2>
        <div>
          <img src="assets/java.PNG" width="400" height="200" alt="Doodle1">
        </div>
      </mat-card-content>
    </mat-card>
  </div>