<div id="WorkExperience">
    <mat-vertical-stepper class="page-body" fxLayout="column">
        <mat-step>
            <div>
                <div>
                    <h2>Associate engineer</h2>
                    <h5>Present - 2019</h5>
                </div>
                <h4>Eaton India Innovation Center</h4>
                <div>
                    <ul>
                        <li *ngFor="let item of experienceEatonList">{{item}}</li>
                    </ul>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div>
                <div>
                    <h2>Intern, Web Developer</h2>
                    <h5>2019 - 2018</h5>
                </div>
                <h4>Creation Infotech</h4>
                <div>
                    <ul>
                        <li *ngFor="let item of experienceInternList">{{item}}</li>
                    </ul>
                </div>
            </div>
        </mat-step>
        <mat-step>
        </mat-step>
    </mat-vertical-stepper>
</div>