<div id="Summary" class="page-body" fxLayout="row" fxLayoutGap="3rem">
    <div class="about" fxFlex>
        <h2>About</h2>
        <h3>
            Result-oriented software engineering professional working in the development of Web Applications using
            Angular
            8, Angular Material JavaScript, HTML & CSS. Strong logical & problem-solving skills with sound knowledge in
            various development lifecycle methodologies with application of agile principles. Focused on achieving
            project
            objectives with speed and accuracy.
        </h3>
    </div>
    <div fxFlex class="about">
        <h2>My Skills</h2>
        <mat-chip-list>
            <mat-chip color="warn" selected>JavaScript</mat-chip>
            <mat-chip color="warn" selected>Angular</mat-chip>
            <mat-chip color="warn" selected>Angular Material</mat-chip>
            <mat-chip color="warn" selected>HTML5</mat-chip>
            <mat-chip color="warn" selected>CSS3</mat-chip>
            <mat-chip color="warn" selected>TypeScript</mat-chip>
            <mat-chip color="warn" selected>Jasmine & Karma</mat-chip>
            <mat-chip color="warn" selected>Java</mat-chip>
            <mat-chip color="warn" selected>MySQL</mat-chip>
        </mat-chip-list>
    </div>
</div>