<div id="Achievements" class="page-body">
    <mat-card>
      <mat-card-content fxLayout="row" class="alignment" fxLayoutGap="2rem">
        <div fxFlex fxLayout="column" fxLayoutGap="2rem">
          <div fxFlex>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>emoji_events</mat-icon>
                </div>
                <mat-card-title>
                  <h2>Winner of Global IT Hackathon in Current Organization</h2>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div fxFlex>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>emoji_events</mat-icon>
                </div>
                <mat-card-title>
                  <h2> Winner of logo competition in Current Organization</h2>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="2rem">
          <div fxFlex>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>grade</mat-icon>
                </div>
                <mat-card-title>
                  <h2>Awarded with Lila Poonawalla Foundation Scholarship</h2>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div fxFlex>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <mat-icon>grade</mat-icon>
                </div>
                <mat-card-title>
                  <h2> Gold medalist in I2I project competition</h2>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>